{% load static %}
<html>
    <html>
        <head>
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">           <title>Capitana y Gileia</title>
        </head>
        <body>
            <div>
            <h1><a href="/">El blog de Capitana, Gilda y Leia</a></h1>
                        <h2>Una perra y dos gatas</h2>
            

        </div>

        
        {% block content %}
        {% endblock %}
     


        </body>
    </html>